<app-navbar></app-navbar>
<div class="container">
  <div class="card text-center" style="width: 40em">
    <div class="card-body">
      <!-- <h5 class="card-title">To Do</h5> -->
      <app-todo-list></app-todo-list>
    </div>
  </div>
  <!-- <div class="pt-5">
    <app-no-encapsulation></app-no-encapsulation>
    <app-emulated-encapsulation> </app-emulated-encapsulation>
    <app-shadow-dom-encapsulation></app-shadow-dom-encapsulation>
  </div> -->
  <!-- <div class="pt-5">
    <app-template-driven-form></app-template-driven-form>
  </div> -->
  <!-- <div class="pt-5">
    <app-template-reactive-form></app-template-reactive-form>
  </div> -->
  <!-- <div class="pt-5">
    <app-add-todo-reactive-form></app-add-todo-reactive-form>
  </div> -->
</div>
